<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weekday Warrior</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Hey, it's <%= dayType %>, <%= advice %>!</h1>

    <div class="form-container">
        <form action="/submit" method="POST">
            <textarea name = "text" placeholder="Enter your thoughts" required></textarea>
            <button type="submit">Submit</button>
        </form>
    </div>

    <% submissions.forEach(function(submission, index){ %>
        <div class="submission-container">
            <p><%= submission %></p>

            <form action = "/delete" method="POST" class="delete-form">
                <input type="hidden" name="index" value="<%= index %>">
                <button type="submit">Delete</button>
            </form>
        </div>
    <% }) %>
</body>
</html>